*body {
	margin: 5px;
}

ul {
	float: right;
	display: inline;
}

li {
	 display: inline;
}

a {
	padding: 0 5px;
	color: black;
	font-size: 13px;
}

.SignIn {
	padding: 0 5px; 
	font-size: 13px;
}

.buttons {
	text-decoration: none;
	color: grey;
	background: #eff2f7;
	padding: 10px;
	font-size: 13px;
}

p {
	font-size: 13px;
	text-align: center;
}

.search {
	border: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	border-radius: 20px;
	height: 50px;
	font-size: 10px;
	width: 80%;
	padding: 5px 5px 10px 7px;
}

.right {
	float: right;
	padding: 0px 5px;
	z-index: 0;
}

.center {
	float: center;
}

input {
	width: 100%;
	height: 80%;
	vertical-align: middle;
	border: none;
	align-self: center;
}

.lang{
	color:blue;
}

.space{
	height: 30px;
}

.space2{
	height: 89px;
}

.top-space {
	height: 180px;
}

footer {
	text-decoration: none;
	color: grey;
	background: #F1F1F2;
	padding: 10px;
	font-size: 13px;
	vertical-align: middle;
}
